<footer class="page-footer font-small bg-secondary pt-4">

    <div class="countainer">


        <div class="row">
            <div class="col-md-12 d-flex fustify-content-center">
                <h4 class="text-white m-auto"> Me siga nas redes sociais </h4>
             




            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="redess">
                    <li>
                        <a href="https://github.com/kogmau" target="_blank" class="icogit">
                        <i class="fa-brands fa-github-square"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/william-marques-6513a1181/" target="_blank"
                        class="icoln">
                        <i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/william_7502/" target="_blank" class="icoin">
                        <i class="fa-brands fa-instagram"></i></a>
                    </li>

                </ul>
            </div>

        </div>
        
        <div class="footer-copyright bg-dark text-center py-3 ">
            <span class="text-light"> © 2022 Copyright: </span>
            <a class="text-light" target="_blank" href="https://github.com/kogmau">William Marques</a>
        </div>

    </div>

</footer>