<div class="countainer-fluid">

    <div class="row d-flex aling-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="cold-md-6">
                   
                    <h1 class="text-center mb-3">Entrar</h1><br>

                  
                    <div class="form-group">
                      
                        <label  for="Email">Email </label> <br>
                        <input [(ngModel)]="userLogin.usuario" type="form-control" type="text" name="Email" id="Email" placeholder="Seu email"><br>
                        <label for="senha">Senha </label> <br>
                        <input [(ngModel)]="userLogin.senha" type="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                       
                    </div>

                
                <div class="d-flex justify-content-center">
                  
                    <button  type="submit" class="btn btn-success" (click)="entrar()">Entrar</button>
                </div>
                
                    <hr class="mt-5 mb-5">
                    <p class="text-center"> Não tem uma conta? <a routerLink='/cadastrar' >Cadastre-se</a></p>

                </div>


            </div>

        </div>
        <div class="col-md-6" id="img-bg">

        </div>
    </div>



</div>